// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: white;
}

hr.dashed {
    border-top: 2px dashed #bbb;
}

.blog-post-body {
    padding: .75rem;
}

.unselectable {
    user-select: none;
}